
    <h1><%= @character.name %>, the <%= "#{@character.race} #{@character.character_class}" %></h1>

    Level - <%= @character.level %>
    <br>

    Campaign - <%= @character.campaign.campaign_name %>
    <br>

    Player - <%= @character.user.username %>
    <br>

    <% if character_owner? %>
    <%= button_to 'Edit', { controller: :characters, action: :edit}, method: :get %>

    <%= button_to 'Destroy', { controller: :characters, action: :destroy}, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>